.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.buttons {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}


button {
  background-color: purple;
  border: none;
  color: #FFFFFF;
  padding: 15px 32px!important;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  width: 250px;
  margin: 17px;
  justify-content: center;
  
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.7s;
}
button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -25px;
  transition: 0.7s;
}
button:hover span {
  padding-right: 30px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}
